{extend name='main'/}
{block name='content'}
<!--<div class="met-banner banner-ny-h" data-height='' style=''>-->
<!--<div class="slick-slide">-->
<!--<img class="cover-image" src="__STATIC__/index/pic/banner02.jpg" sizes="(max-width: 767px) 767px" alt="新闻资讯">-->
<!--</div>-->
<!--</div>-->
<section class="met-content animsition">
    <div class="container">
        <div class="row">
            <div class="col-md-9 met-cons">
                <div class="met-position  pattern-show">
                    <div class="container">
                        <div class="row">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{:url('/')}" title="首页">
                                        <i class="icon wb-home" aria-hidden="true"></i>首页
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="###"
                                       class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                       title="{$categoryFatherData['cname']}">
                                        {$categoryFatherData['cname']}
                                        <i class="caret"></i>
                                    </a>
                                    <ul class="dropdown-menu bullet">
                                        <li>
                                            <a href="{:url('index/Lists/index',['cid'=>$categoryFatherData['id']])}"
                                               title="全部">
                                                全部
                                            </a>
                                        </li>
                                        {foreach name='categorySonData' key='k' item='v'}
                                        <li>
                                            <a href="{:url('index/Lists/index',['cid'=>$v['id']])}" title="$v['cname']">{$v['cname']}</a>
                                        </li>
                                        {/foreach}
                                    </ul>
                                </li>
                                {if condition="$categoryData['id']!=$categoryFatherData['id']"}
                                <li class="dropdown">
                                    {$categoryData['cname']}
                                </li>
                                {/if}
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="met-product">
                    <ul class="blocks-2 blocks-sm-2 blocks-md-3 blocks-xlg-3  met-page-ajax met-grid" id="met-grid"
                        data-scale="0.8">
                        {foreach name='articleData' key='k' item='v'}
                        <li class="shown">
                            <div class="widget widget-shadow">
                                <figure class="widget-header cover">
                                    <a href="{:url('index/Details/index',['aid'=>$v['id']])}" title="{$v['title']}">
                                        <img class="cover-image" src="__STATIC__/index{$v['thumb']}" alt="{$v['title']}"
                                             style='height:200px;'>
                                    </a>
                                </figure>
                                <h4 class="widget-title">
                                    <a href="{:url('index/Details/index',['aid'=>$v['id']])}" ​ title="{$v['title']}">
                                        {$v['title']}
                                    </a>
                                </h4>
                            </div>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <div class="pagination pagination-sm pull-right">
                    {$articleData->render()}
                </div>
            </div>
            <div class="col-md-3 met-conx">
                <div class="met-information">
                    <h3>最新动态</h3>
                    <ul>
                        {foreach name='_newArticleData' key='k' item='v'}
                        <li>
                            <h6>
                                <a href="{:url('index/Details/index',['aid'=>$v['id']])}" title="{$v['title']}">{$v['title']}</a>
                            </h6>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}