<ul class="nav navbar-nav navbar-right navlist">
    <li class="margin-right-20">
        <a href="index.html" title="首页" class="link active">
            首页
        </a>
    </li>
    <li class="dropdown margin-right-20">
        <a data-toggle="dropdown" data-hover="dropdown" aria-expanded="false"
           class="dropdown-toggle link  " href="about.html">
            网站设计
            <span class="caret">
                                </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right bullet">
            <li>
                <a href="about1.html" class="">
                    998建站套餐
                </a>
            </li>
            <li>
                <a href="about1.html" class="">
                    1988建站套餐
                </a>
            </li>
            <li>
                <a href="about1.html" class="">
                    网站定制开发
                </a>
            </li>
            <li>
                <a href="about1.html" class="">
                    企业系统开发
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown margin-right-20">
        <a data-toggle="dropdown" data-hover="dropdown" aria-expanded="false"
           class="dropdown-toggle link  " href="news.html">
            品牌推广
            <span class="caret">
                                </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right bullet">
            <li>
                <a href="news1.html" class="">
                    网站排名忧化
                </a>
            </li>
            <li>
                <a href="news2.html" class="">
                    品牌推广策划
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown margin-right-20">
        <a class="link  " href="course.html">
            IT服务
        </a>
        <ul style="display:none">
        </ul>
    </li>
    <li class="dropdown margin-right-20">
        <a class="link  " href="team.html">
            培训课程
        </a>
        <ul style="display:none">
        </ul>
    </li>
    <!--<li class="dropdown margin-right-20">-->
    <!--<a class="link  " href="huanjing.html">-->
    <!--解决方案-->
    <!--</a>-->
    <!--<ul style="display:none">-->
    <!--</ul>-->
    <!--</li>-->
    <li class="dropdown margin-right-20">
        <a class="link  " href="contact.html">
            信息系统解决方案
        </a>
        <ul style="display:none">
        </ul>
    </li>
    <li class="dropdown margin-right-20">
        <a class="link  " href="message.html">
            联系我们
        </a>
        <ul style="display:none">
        </ul>
    </li>
</ul>