<ul class="nav navbar-nav navbar-right navlist">
    <li class="margin-right-20"><a href="https://show.metinfo.cn/muban/M1156015/376/" title="首页"
                                   class="link active">首页</a></li>


    <li class="dropdown margin-right-20">
        <a class="dropdown-toggle link " data-toggle="dropdown" data-hover="dropdown" href="about/"
           aria-expanded="false" title="网站设计">网站设计 <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right bullet">

            <li class="nav-parent visible-xs"><a href="about/" title="关于我们">网站设计</a></li>

            <li><a href="about/show.php?lang=cn&amp;id=111" class="" title="塑形美体">998建站套餐</a></li>

            <li><a href="about/show.php?lang=cn&amp;id=112" class="" title="经典纯粹">1988建站套餐</a></li>

            <li><a href="about/show.php?lang=cn&amp;id=113" class="" title="理疗修复">网站定制开发</a></li>

            <li><a href="about/show.php?lang=cn&amp;id=114" class="" title="情绪释放">企业系统开发</a></li>

        </ul>
    </li>


    <li class="dropdown margin-right-20">
        <a class="dropdown-toggle link " data-toggle="dropdown" data-hover="dropdown" href="news/" aria-expanded="false"
           title="品牌推广">品牌推广 <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right bullet">

            <li class="nav-parent visible-xs"><a href="news/" title="品牌推广">品牌推广</a></li>

            <li><a href="news/news.php?lang=cn&amp;class2=106" class="" title="会馆活动">网站排名忧化</a></li>

            <li><a href="news/news.php?lang=cn&amp;class2=107" class="" title="瑜伽资讯">品牌推广策划</a></li>


        </ul>
    </li>


    <li class="margin-right-20"><a href="course/" title="IT服务" class="link ">IT服务</a></li>


    <li class="margin-right-20"><a href="team/" title="培训课程" class="link ">培训课程</a></li>


    <li class="margin-right-20"><a href="environment/" title="信息系统解决方案" class="link ">信息系统解决方案</a></li>


    <li class="margin-right-20"><a href="information/show.php?lang=cn&amp;id=118" title="联系我们" class="link ">联系我们</a>
    </li>

</ul>
