{extend name='main'/}
{block name='content'}
{include file="banner" /}
<div class="service-background">
    <div class="container">
        <div class="title-box">
            <h2>
                全方位企业信息系统服务
            </h2>
            <p>
                优秀的项目服务，一站式的服务体验，全方面的技术服务，助您在互联网营销时代快速发展
            </p>
        </div>
        <div class="row">
            <div class="service-box">
                <ul class="service-wraper">
                    <li class="service-slide">
                        <a href="{:url('index/Details/index',['aid'=>1])}" target="_blank" title="网站设计">
                            <b>
                                <img src="__STATIC__/index/picture/fu.png">
                                <img class="icon" src="__STATIC__/index/picture/1-1G124164UI26.png">
                            </b>
                            <h3>网站设计</h3>
                            <p>
                                优秀的网站设计是宣传公司品牌形象的第一步，从而进一步展示企业产品，拓展市场。网站是一种生意方式，还是展示公司文化和潜力的平台，让更多的合作伙伴关注企业！
                            </p>
                        </a>
                    </li>
                    <li class="service-slide">
                        <a href="{:url('index/Details/index',['aid'=>12])}" target="_blank" title="排名忧化">
                            <b>
                                <img src="__STATIC__/index/picture/fu.png">
                                <img class="icon" src="__STATIC__/index/picture/1-1G124164919517.png">
                            </b>
                            <h3>排名忧化</h3>
                            <p>
                                关键词忧化排名给网站带来流量，带动企业网站品牌在知名度，关键词排名可以让用户更为方便、快捷的找到企业，让用户最先了解到同行业中企业产品的优势，突出产品/服务亮点！
                            </p>
                        </a>
                    </li>
                    <li class="service-slide">
                        <a href="{:url('index/Details/index',['aid'=>8])}" target="_blank" title="系统维护">
                            <b>
                                <img src="__STATIC__/index/picture/fu.png">
                                <img class="icon" src="__STATIC__/index/picture/1-1G1241A210Y0.png">
                            </b>
                            <h3>系统维护</h3>
                            <p>
                                专业的系统软件，硬件，网络技术能力，为客提供全方位的服务，提升企业信息化系统的应用效率，降底人工成本，提供定制培训等相关增值服务，让企业集中精力关注主营核心业务！
                            </p>
                        </a>
                    </li>
                    <li class="service-slide">
                        <a href="{:url('index/Details/index',['aid'=>10])}" target="_blank" title="网络工程">
                            <b>
                                <img src="__STATIC__/index/picture/fu.png">
                                <img class="icon" src="__STATIC__/index/picture/1-1G1241A302345.png">
                            </b>
                            <h3>网络工程</h3>
                            <p>
                                网络布线，集团电话、安防监控，丰富的工程施工经验（弱电工程），优秀的技术能力，按照企业需求合理规划网络布局，保证工程的稳定性和可扩容性！
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="about-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-title title-box">
                    <h2>关于我们</h2>
                </div>
                <div class="about-box">
                    {$_webSet['indexwords']}
                </div>
                <div class="about-link">
                    <a href="{:url('index/Details/index',['aid'=>6])}" target="_blank" title="关于我们">
                        查看更多
                        <i class="fa fa-angle-double-right">
                        </i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 about-video">
                <div width="100%">
                    <img src="__STATIC__/index/pic/seo01.jpg" alt="网站排名忧化">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-background">
    <div class="container">
        <div class="title-box">
            <h2>网站案例</h2>
        </div>
        <div class="row">
            <div class="product-box">
                <ul class="product-wraper">
                    {foreach name='article1Data' key='k' item='v'}
                    <li class="product-slide">
                        <a href="{:url('index/Details/index',['aid'=>$v['id']])}" target="_blank" title="{$v['title']}">
                            <span>
                                <img data-original="{$v['thumb']}" alt="{$v['title']}">
                            </span>
                            <h4>
                                {$v['title']}
                            </h4>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
            <div class="product-link">
                <a href="{:url('index/Lists/index',['cid'=>5])}" target="_blank" title="查看更多">
                    查看更多
                    <i class="fa fa-angle-double-right">
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="case-background">
    <div class="container">
        <div class="title-box active">
            <h2>工程案例</h2>
        </div>
        <div class="row">
            <div class="case-box">
                <ul class="case-wraper">
                    {foreach name='article2Data' key='k' item='v'}
                    <li class="case-slide">
                        <a href="{:url('index/Details/index',['aid'=>$v['id']])}" target="_blank" title="{$v['title']}">
                            <span>
                                <img data-original="{$v['thumb']}" alt="{$v['title']}">
                            </span>
                            <h4>
                                {$v['title']}
                            </h4>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="about-link text-center">
            <a href="{:url('index/Lists/index',['cid'=>30])}" target="_blank" title="查看更多">
                查看更多
                <i class="fa fa-angle-double-right">
                </i>
            </a>
        </div>
    </div>
</div>
<div class="info-cut">
    <div class="container">
        <div class="title-box">
            <h2>新闻资讯</h2>
        </div>
        <div class="row">
            <div class="info-box">
                <ul class="info-wraper">
                    <li class="info-slide">
                        <span>
                            <h3>行业新闻</h3>
                            <a href="{:url('index/Lists/index',['cid'=>25])}" target="_blank" title="查看更多">
                                <hr>
                                <hr>
                                <hr>
                            </a>
                        </span>
                        <ol>
                            {foreach name='article3Data' key='k' item='v'}
                            <li>
                                <h4>
                                    <a href="{:url('index/Details/index',['aid'=>$v['id']])}" target="_blank"
                                       title="{$v['title']}">
                                        {$v['title']}
                                    </a>
                                </h4>
                                <p>{$v['digest']}</p>
                                <b><i>{$v['create_time']|date="Y-m-d H:i:s",###}</i></b>
                            </li>
                            {/foreach}
                        </ol>
                    </li>
                    <li class="info-slide">
                        <span>
                            <h3>企业新闻</h3>
                            <a href="{:url('index/Lists/index',['cid'=>26])}" target="_blank" title="查看更多">
                                <hr>
                                <hr>
                                <hr>
                            </a>
                        </span>
                        <ol>
                            {foreach name='article4Data' key='k' item='v'}
                            <li>
                                <h4>
                                    <a href="{:url('index/Details/index',['aid'=>$v['id']])}" target="_blank"
                                       title="{$v['title']}">
                                        {$v['title']}
                                    </a>
                                </h4>
                                <p>{$v['digest']}</p>
                                <b><i>{$v['create_time']|date="Y-m-d H:i:s",###}</i></b>
                            </li>
                            {/foreach}
                        </ol>
                    </li>
                    <li class="info-slide">
                        <span>
                            <h3>
                                活动新闻
                            </h3>
                            <a href="{:url('index/Lists/index',['cid'=>27])}" target="_blank" title="查看更多">
                                <hr>
                                <hr>
                                <hr>
                            </a>
                        </span>
                        <ol>
                            {foreach name='article5Data' key='k' item='v'}
                            <li>
                                <h4>
                                    <a href="{:url('index/Details/index',['aid'=>$v['id']])}" target="_blank"
                                       title="{$v['title']}">
                                        {$v['title']}
                                    </a>
                                </h4>
                                <p>{$v['digest']}</p>
                                <b><i>{$v['create_time']|date="Y-m-d H:i:s",###}</i></b>
                            </li>
                            {/foreach}
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{include file="feedback" /}
{/block}