{extend name='base'/}
{block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href=""><i class="fa fa-cogs"></i>
            文章管理</a>
    </li>
    <li class="active">
        <a href="">文章查看</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li><a href="{:url('recycle')}">回收站列表</a></li>
    <li class="active"><a href="">文章查看</a></li>
</ul>
<form class="form-horizontal" id="form" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">文章编辑</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章标题</label>
                <div class="col-sm-9">
                    <input type="text" name="title" class="form-control" placeholder="文章标题" value="{$oldData['title']}">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章作者</label>
                <div class="col-sm-9">
                    <input type="text" name="author" class="form-control" placeholder="文章作者" value="{$oldData['author']}">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">所属栏目</label>
                <div class="col-sm-9">
                    <select class="js-example-basic-single form-control" name="cid">
                        <option value="0">请选择栏目</option>
                        {foreach name='cateData' key='k' item='v'}
                        <option value="{$v['id']}" {if condition="$oldData['cid']==$v['id']"}selected{/if} >{$v['_cname']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">缩略图</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input class="form-control" name="thumb" readonly="" value="">
                        <div class="input-group-btn">
                            <button onclick="upImagePc(this)" class="btn btn-default" type="button">选择图片</button>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top:5px;">
                        <img src="__STATIC__/admin/image/nopic.jpg" class="img-responsive img-thumbnail" width="150">
                        <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片"
                            onclick="removeImg(this)">×</em>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章内容</label>
                <div class="col-sm-9">
                    <textarea id="div1" name="content">
                        <p>{$oldData['content']}</p>
                    </textarea>
                    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/wangEditor-2/dist/css/wangEditor.min.css">
                    <style type="text/css">
                        #div1 {
                            width: 100%;
                            height: 500px;
                        }
                    </style>
                    <script src="__STATIC__/admin/wangEditor-2/dist/js/wangEditor.min.js"></script>
                    <script type="text/javascript">
                        $(function () {
                            var editor = new wangEditor('div1');
                            // 定义上传接口路径
                            editor.config.uploadImgUrl = "{:url('system/component/uploader')}";
                            //editor.config.hideLinkImg = true;
                            // 定义上传图片标签名称
                            editor.config.uploadImgFileName = 'file';
                            editor.create();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</form>

{/block}