{extend name='base'/}
{block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href=""><i class="fa fa-cogs"></i>
            文章管理</a>
    </li>
    <li class="active">
        <a href="">回收站列表</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab1">回收站列表</a></li>
</ul>
<form action="" method="post">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="5%">编号</th>
                    <th width="45%">标题</th>
                    <th width="10%">作者</th>
                    <th width="8%">栏目</th>
                    <th width="10%">回收时间</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach name='field' key='k' item='v'}
                <tr>
                    <td>{$v['id']}</td>
                    <td>{$v['title']}</td>
                    <td>{$v['author']}</td>
                    <td>{$v['cname']}</td>
                    <td>{$v['del_time']|date="Y-m-d H:i:s",###}</td>
                    <td>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right"><li>
                                <a href="{:url('recycleEdit',['id'=>$v['id']])}">查看数据</a></li>
                                <li class="divider"></li>
                                <li><a href="{:url('outToRecycle',['id'=>$v['id']])}">恢复数据</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;" onclick="del({$v['id']})">彻底删除</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="pagination pagination-sm pull-right">
    {$field->render()}
</div>
<script>
    function del(id) {
        swal({
                title: "确定要彻底删除ID为" + id + "的文章吗？",
                text: "执行操作后，你将无法恢复该文章！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.post("{:url('del')}", {id: id}, function (res) {
                        if (res.code) {
                            swal({
                                title: res.msg,
                                type: "success",
                                confirmButtonText: "知道了",
                                closeOnConfirm: false,
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    window.location.reload();
                                }
                            });
                        } else {
                            swal({
                                title: res.msg,
                                type: "error",
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "知道了",
                                closeOnConfirm: false,
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    window.location.reload();
                                }
                            });
                        }
                    }, 'json')
                }
            });
    }
</script>
{/block}