{extend name='base'/}
{block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href="###"><i class="fa fa-cogs"></i>
            文章管理</a>
    </li>
    <li class="active">
        <a href="###">文章添加</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li><a href="{:url('index')}">文章列表</a></li>
    <li class="active"><a href="###">文章添加</a></li>
</ul>
<form class="form-horizontal" id="form" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">文章添加</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章标题</label>
                <div class="col-sm-9">
                    <input type="text" name="title" class="form-control" placeholder="文章标题">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章作者</label>
                <div class="col-sm-9">
                    <input type="text" name="author" class="form-control" placeholder="文章作者">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">所属栏目</label>
                <div class="col-sm-9">
                    <select class="js-example-basic-single form-control" name="cid">
                        <option value="0">请选择栏目</option>
                        {foreach name='cateData' key='k' item='v'}
                        <option value="{$v['id']}">{$v['_cname']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">缩略图</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <script src="__STATIC__/plugins/Huploadify/jquery.Huploadify.js"
                                    type="text/javascript"></script>
                            <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/Huploadify/Huploadify.css">
                            <div id="uploadimg"><!-- 上传图片插件显示区域 --></div>
                            <input type="hidden" name="thumb" id="thumb" value="">
                        </div>
                    </div>
                    <div class="input-group" style="margin-top:5px;">
                        <img src="__STATIC__/admin/image/nopic.jpg" id="img_show" class="img-responsive img-thumbnail" width="150">
                        <!--<em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片"-->
                            <!--onclick="removeImg(this)">×</em>-->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章内容</label>
                <div class="col-sm-9">
                    <textarea id="div1" name="content">
                        <p></p>
                    </textarea>
                    <link rel="stylesheet" type="text/css"
                          href="__STATIC__/admin/wangEditor-2/dist/css/wangEditor.min.css">
                    <style type="text/css">
                        #div1 {
                            width: 100%;
                            height: 500px;
                        }
                    </style>
                    <script src="__STATIC__/admin/wangEditor-2/dist/js/wangEditor.min.js"></script>
                    <script type="text/javascript">
                        $(function () {
                            var editor = new wangEditor('div1');
                            // 定义上传接口路径
                            editor.config.uploadImgUrl = "{:url('system/component/uploader')}";
                            //editor.config.hideLinkImg = true;
                            // 定义上传图片标签名称
                            editor.config.uploadImgFileName = 'file';
                            editor.create();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="is_del" value="0">
    <button class="btn btn-primary" type="submit">确定</button>
</form>
<script>
    $(function () {
        var imgdata = new Array();
        var up = $('#uploadimg').Huploadify({
            auto: true,
            fileTypeExts: '*.jpg; *.jpeg; *.gif; *.png',
            multi: false,
            formData: {el: 'certificate'},
            fileSizeLimit: 3096,
            fileLimitNum: 5,
            buttonText: '上传列表图片',
            fileOldLimitField: 'certificate_field_num',
            fileNewLimitField: 'certificate_new_field_num',
            showUploadedPercent: true,
            showUploadedSize: true,
            removeTimeout: 9999999,
            uploader: "{:url('system/component/uploader')}",
            onUploadStart: function (file) {
                //console.log("onUploadStart");
                //console.log(file.name+'开始上传');
            },
            onInit: function (obj) {
                //console.log('onInit');
                //console.log(obj);
            },
            onUploadComplete: function (file, data) {
                //console.log('onUploadComplete');
                //console.log(file.name+'上传完成');
                var temp = eval('(' + data + ')');
                if (temp.substring(0, 5) == 'error') {
                    alert('上传失败');
                    // 隐藏上传区域
                    $('#fileupload_1_' + file.index).hide();
                    //$('#fileupload_1_' + file.index).find('.up_filename').eq(0).append('上传失败->');
                    return false;
                } else {
                    // 组合图片路径
                    var imgurl = temp;
                    // 存入数组
                    //imgdata[file.index] = imgurl;
                    // 设置当前已经上传图片张数
                    //setUpImgLimitNum(imgdata, up);
                    // 显示当前上传图片
                    //$('#fileupload_1_' + file.index + '_show').attr('src', imgurl);
                    $('#img_show').attr('src', imgurl);
                    $('#thumb').val(imgurl);
                    $('#file_upload_' + file.index + '-button').hide();
                }
            },
            onCancel: function (file) {
                //console.log("onCancel");
                //console.log(file.name+'删除成功');
                // 对应存放图片数组设置为空
                //imgdata[file.index] = '';
                $('#img_show').attr('src', '__STATIC__/admin/image/nopic.jpg');
                $('#thumb').val();
                $('#file_upload_' + file.index + '-button').show();
            },
            onClearQueue: function (queueItemCount) {
                //console.log("onClearQueue");
                //console.log('有'+queueItemCount+'个文件被删除了');
            },
            onDestroy: function () {
                //console.log("onDestroy");
            },
            onSelect: function (file) {
                //console.log("onSelect");
                //console.log(file.name+'加入上传队列');
            },
            onQueueComplete: function (queueData) {
                //console.log("onQueueComplete");
                //console.log('队列中的文件全部上传完成',queueData);
            },
        });
    });
</script>
{/block}