<div class="met-banner" data-height='' style=''>
    <div class="slick-slide">
        <img class="cover-image" src="__STATIC__/index/pic/banner01.jpg" alt="网站程序开发">
        <div class="banner-text p-1">
            <div class='container'>
                <div class='banner-text-con'>
                    <div>
                        <h4 class="animation-slide-top" style='color:#eeeeee'>
                            我们会做什么服务
                        </h4>
                        <p class="animation-slide-bottom animation-delay-300">
                            网站开发忧化 企业网络外包 网络监控布线
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slick-slide">
        <img class="cover-image" src="__STATIC__/index/pic/banner02.jpg" alt="综合布线工程">
        <div class="banner-text p-2">
            <div class='container'>
                <div class='banner-text-con'>
                    <div>
                        <h4 class="animation-slide-top" style='color:#eeeeee'>
                            信息系统服务工程
                        </h4>
                        <p class="animation-slide-bottom animation-delay-300">
                            全方位服务理念 新服务成就全面技术
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>