<div class="met-footnav">
    <div class="container">
        <div class="row mob-masonry">
            <div class="col-md-2 col-sm-3 col-xs-6 list masonry-item">
                <h4>
                    <a href="#" title="服务范围">
                         服务范围
                    </a>
                </h4>
                <ul>
                    <li>
                        <a href="#" title="品牌策划设计">
                            品牌策划设计
                        </a>
                    </li>
                    <li>
                        <a href="#" title="网站定制开发">
                            网站定制开发
                        </a>
                    </li>
                    <li>
                        <a href="#" title="SEO搜索忧化">
                            SEO搜索忧化
                        </a>
                    </li>
					<li>
                        <a href="#" title="竞价排名托管">
                            竞价排名托管
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 list masonry-item">
                <h4>
                    <a href="#" title="解决方案">
                        解决方案
                    </a>
                </h4>
                <ul>
                    <li>
                        <a href="#" title="互联网品牌解决方案">
                            互联网品牌解决方案
                        </a>
                    </li>
                    <li>
                        <a href="#" title="网络推广营销解决方案">
                            推广营销解决方案
                        </a>
                    </li>
                    <li>
                        <a href="#" title="信息系统解决方案">
                            工程建设解决方案
                        </a>
                    </li>
					<li>
                        <a href="#" title="信息系统解决方案">
                            系统维护解决方案
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 list masonry-item">
                <h4>
                    <a>
                        关于我们
                    </a>
                </h4>
                <ul>
                    <li>
                        <a href="#" title="企业介绍">
                            企业介绍
                        </a>
                    </li>
                    <li>
                        <a href="#" title="技术团队">
                            技术团队
                        </a>
                    </li>
                    <li>
                        <a href="#" title="会馆环境">
                            招贤纳士
                        </a>
                    </li>
                    <li>
                        <a href="#" title="联系我们">
                            联系我们
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 list masonry-item">
                <h4>
                    <a>
                        战略合作伙伴
                    </a>
                </h4>
                <ul>
                    <li>
                        <a href="#" title="深圳雷恩软件开发">
                            雷恩软件开发
                        </a>
                    </li>
                    <li>
                        <a href="#" title="德初品牌策划">
                            德初品牌策划
                        </a>
                    </li>
					<li>
                        <a href="#" title="田钰艺术空间">
                            田钰艺术空间
                        </a>
                    </li>
					<li>
                        <a href="#" title="翰林码网络工程">
                            翰林码网络工程
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-ms-12 col-xs-12 info masonry-item">
                <div class="info-phone">
                    <b>
                        服务热线
                    </b>
                    <em>
                        <a>
                            137-255-09049
                        </a>
                    </em>
                    <p>
                        0755-84820129
                    </p>
                    <span>
                        <a href="#" rel="nofollow"><i class="fa fa-qq"></i></a>
                        <a id="met-weixin">
                            <i class="fa fa-weixin" data-plugin="webuiPopover" data-trigger="hover"
                               data-animation="pop" data-placement='top' data-width='160' data-padding='0'
                               data-content="<img src='__STATIC__/index/picture/weixin.jpg' alt='微信' style='width: 150px;height:150px;display:block;margin:auto;'>">
                            </i>
                        </a>
                        <a href="#" rel="nofollow">
                            <i class="fa fa-weibo"></i>
                        </a>
                            </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="met-links text-center">
    <div class="container">
        <ol class="breadcrumb">
            <li>友情链接 :</li>
            {foreach name='_linkData' key='k' item='v'}
            <li><a href="{$v['flink']}" target="_blank">{$v['fname']}</a></li>
            {/foreach}
        </ol>
    </div>
</div>
<footer>
    <div class="container text-center">
        <div class="powered_by_metinfo">
            {$_webSet['copyright']}
            |
            {$_webSet['beian']}
            |
            {$_webSet['email']}
        </div>
    </div>
</footer>