<header class="">
    <div class="head-box">
        <div class="container">
            <div class="head-left">
                <div class="head-left-wrapper">
                    <div class="head-left-slide">
                        <p>
                            网站制作 | 网络营销培训 | 网站定制 | 排名忧化 | SEO推广
                        </p>
                        <font>
                            <hr>
                            <a id="met-weixins">
                                <i class="fa fa-weixin" data-plugin="webuiPopover" data-trigger="hover"
                                   data-animation="pop" data-placement='bottom' data-width='130' data-padding='0'
                                   data-content="<img src='__STATIC__/index/picture/weixin.jpg' alt='信息系统全方位服务解决方案' style='width: 120px;display:block;margin:auto;'>">
                                </i>
                            </a>
                            <hr>
                            <a href="#" rel="nofollow">
                                <i class="fa fa-qq"></i>
                            </a>
                            <hr>
                            <a href="#" rel="nofollow">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </font>
                    </div>
                </div>
            </div>
            <div class="head-right">
                <div class="head-other">
                    <b>
                        更多关注
                        <i class="caret">
                        </i>
                    </b>
                    <span>
                        <a class="bookmark" data-alert="加入收藏失败，请使用Ctrl+D进行添加">
                            <i class="fa fa-bookmark"></i>收藏本站
                        </a>
                        <hr/>
                        <a href="#" title="联系电话">
                            <i class="fa fa-book"></i>咨询电话:13725509049
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-default met-nav " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close collapsed"
                    data-target="#navbar-default-collapse" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <a href="#" class="navbar-brand navbar-logo vertical-align" title="{$_webSet['title']}">
                <h1 class='hide'>
                    {$_webSet['title']}
                </h1>
                <div class="vertical-align-middle">
                    <img src="__STATIC__/index/picture/logo.png" alt="{$_webSet['title']}" title="{$_webSet['title']}"/>
                </div>
            </a>
            <h2 class='hide'></h2>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="navbar-default-collapse">
            <div class="navbar-right search-box">
                <div class="search-button">
                    <i class="wb-search"></i>
                </div>
                <div class="search-form">
                    <form name="formsearch" action="{:url('index/index/search')}">
                        <input type="hidden" name="kwtype" value="0"/>
                        <input type="text" placeholder="请输入搜索关键词！" name="words" value="">
                        <button type="submit" class="wb-search">
                        </button>
                    </form>
                </div>
            </div>

            <ul class="nav navbar-nav navbar-right navlist">
                <li class="margin-right-20">
                    <a href="{:url('/')}" title="首页" {if condition="!input('param.cid')" }class="link active" {else/}class="link"{/if}>首页</a>
                </li>
                {foreach name='_cateData' key='k' item='v'}
                <li class="dropdown margin-right-20">
                    {if condition="$v['url']"}
                    <a data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" class="dropdown-toggle link"
                       href="{$v['url']}">
                        {$v['cname']}
                        {if condition="$v['hasSon']"}
                        <span class="caret"></span>
                        {/if}
                    </a>
                    {else/}
                    <a data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" class="dropdown-toggle link"
                       href="{:url('index/Lists/index',['cid'=>$v['id']])}">
                        {$v['cname']}
                        {if condition="$v['hasSon']"}
                        <span class="caret"></span>
                        {/if}
                    </a>
                    {/if}
                    {if condition="$v['hasSon']"}
                    <ul class="dropdown-menu dropdown-menu-right bullet">
                        {foreach name='v.cateSon' key='kk' item='vv'}
                        <li>
                            {if condition="$vv['url']"}
                            <a href="{$vv['url']}" class="">{$vv['cname']}</a>
                            {else/}
                            <a href="{:url('index/Lists/index',['cid'=>$vv['id']])}" class="">{$vv['cname']}</a>
                            {/if}
                        </li>
                        {/foreach}
                    </ul>
                    {/if}
                </li>
                {/foreach}
            </ul>

        </div>
    </div>
</nav>