<header class="">
    <div class="head-box">
        <div class="container">
            <div class="head-left">
                <div class="head-left-wrapper">
                    <div class="head-left-slide">
                        <p>
                            网站制作 | 网络营销培训 | 网站定制 | 排名忧化 | SEO推广
                        </p>
                        <font>
                            <hr>
                            <a id="met-weixins">
                                <i class="fa fa-weixin" data-plugin="webuiPopover" data-trigger="hover"
                                   data-animation="pop" data-placement='bottom' data-width='130' data-padding='0'
                                   data-content="<img src='__STATIC__/index/picture/weixin.jpg' alt='信息系统全方位服务解决方案' style='width: 120px;display:block;margin:auto;'>">
                                </i>
                            </a>
                            <hr>
                            <a href="#" rel="nofollow">
                                <i class="fa fa-qq"></i>
                            </a>
                            <hr>
                            <a href="#" rel="nofollow">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </font>
                    </div>
                </div>
            </div>
            <div class="head-right">
                <div class="head-other">
                    <b>
                        更多关注
                        <i class="caret">
                        </i>
                    </b>
                    <span>
                        <a class="bookmark" data-alert="加入收藏失败，请使用Ctrl+D进行添加">
                            <i class="fa fa-bookmark"></i>收藏本站
                        </a>
                        <hr/>
                        <a href="#" title="联系电话">
                            <i class="fa fa-book"></i>咨询电话:13725509049
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-default met-nav " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close collapsed"
                    data-target="#navbar-default-collapse" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <a href="#" class="navbar-brand navbar-logo vertical-align" title="翰林码网络科技公司">
                <h1 class='hide'>
                    翰林码网络科技公司
                </h1>
                <div class="vertical-align-middle">
                    <img src="__STATIC__/index/picture/logo.png" alt="翰林码网络科技公司" title="翰林码网络科技公司"/>
                </div>
            </a>
            <h2 class='hide'></h2>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="navbar-default-collapse">
            <div class="navbar-right search-box">
                <div class="search-button">
                    <i class="wb-search"></i>
                </div>
                <div class="search-form">
                    <form name="formsearch" action="/plus/search.php">
                        <input type="hidden" name="kwtype" value="0"/>
                        <input type="text" placeholder="请输入搜索关键词！" name="q" value="">
                        <button type="submit" class="wb-search">
                        </button>
                    </form>
                </div>
            </div>

            <ul class="nav navbar-nav navbar-right navlist">
                <li class="margin-right-20">
                    <a href="/" title="首页" class="link active">
                        首页
                    </a>
                </li>
                <li class="dropdown margin-right-20">
                    <a data-toggle="dropdown" data-hover="dropdown" aria-expanded="false"
                       class="dropdown-toggle link  " href="/index/index/actList">
                        网站设计
                        <span class="caret">
                                </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right bullet">
                        <li>
                            <a href="/index/index/actList" class="">
                                998建站套餐
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                1988建站套餐
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                网站定制开发
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                企业系统开发
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown margin-right-20">
                    <a data-toggle="dropdown" data-hover="dropdown" aria-expanded="false"
                       class="dropdown-toggle link  " href="/index/index/caseList">
                        品牌推广
                        <span class="caret">
                                </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right bullet">
                        <li>
                            <a href="news1.html" class="">
                                网站排名忧化
                            </a>
                        </li>
                        <li>
                            <a href="news2.html" class="">
                                品牌推广策划
                            </a>
                        </li>
                        <li>
                            <a href="news2.html" class="">
                                推广培训课程
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown margin-right-20">
                    <a data-toggle="dropdown" data-hover="dropdown" aria-expanded="false"
                       class="dropdown-toggle link  " href="about.html">
                        服务项目
                        <span class="caret">
                                </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right bullet">
                        <li>
                            <a href="about1.html" class="">
                                信息系统维护服务
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                网络系统维护服务
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                网络布线工程服务
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                安防监控工程服务
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown margin-right-20">
                    <a data-toggle="dropdown" data-hover="dropdown" aria-expanded="false"
                       class="dropdown-toggle link  " href="about.html">
                        成功案例
                        <span class="caret">
                                </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right bullet">
                        <li>
                            <a href="about1.html" class="">
                                企业网站案例
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                排名忧化案例
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                网络工程案例
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                安防监控案例
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown margin-right-20">
                    <a data-toggle="dropdown" data-hover="dropdown" aria-expanded="false"
                       class="dropdown-toggle link  " href="about.html">
                        关于我们
                        <span class="caret">
                                </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right bullet">
                        <li>
                            <a href="about1.html" class="">
                                公司介绍
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                技术团队
                            </a>
                        </li>
                        <li>
                            <a href="about1.html" class="">
                                新闻资讯
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="dropdown margin-right-10">
                    <a class="link  " href="contact.html">
                        联系我们
                    </a>
                    <ul style="display:none">
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>