{extend name='main'/}
{block name='content'}
<section class="met-content animsition">
    <ul class="pgwSlideshow">
        <li><img src="__STATIC__/special/pic/1.jpg" alt="华尔街之狼" data-description="翰林码网络有限公司红红火炎"></li>
        <li><img src="__STATIC__/special/pic/2.jpg" alt="Rio de Janeiro, Brazil"></li>
        <li><img src="__STATIC__/special/pic/3.jpg" alt=""></li>
        <li><img src="__STATIC__/special/pic/1.jpg" alt=""></li>
        <li><img src="__STATIC__/special/pic/2.jpg" alt=""></li>
        <li><img src="__STATIC__/special/pic/3.jpg" alt=""></li>
        <li><img src="__STATIC__/special/pic/1.jpg" alt=""></li>
        <li><img src="__STATIC__/special/pic/2.jpg" alt=""></li>
        <li><img src="__STATIC__/special/pic/3.jpg" alt=""></li>
    </ul>
</section>
<link rel="stylesheet" type="text/css" href="__STATIC__/special/css/pgwslideshow.css">
<script type="text/javascript" src="__STATIC__/special/js/pgwslideshow.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.pgwSlideshow').pgwSlideshow({
            transitionEffect: 'fading',
            autoSlide: true
        });
    });
</script>
{/block}