{extend name='base'/}
{block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href=""><i class="fa fa-cogs"></i>
            用户组管理</a>
    </li>
    <li class="active">
        <a href="">用户组列表</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="">用户组列表</a></li>
    <li><a href="{:url('store')}">用户组添加</a></li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">用户组列表</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="8%">编号</th>
                <th width="30%">用户组名</th>
                <th width="20%">状态</th>
                <th width="8%">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach name='field' item='vo'}
            <tr>
                <td>{$vo['id']}</td>
                <td>{$vo['gname']}</td>
                <td>{$vo['status_txt']}</td>
                <td>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{:url('store',['id'=>$vo['id']])}">编辑</a></li>
                            <li class="divider"></li>
                            <li><a href="{:url('setAuth',['id'=>$vo['id']])}">分配权限</a></li>
                            <li class="divider"></li>
                            {if condition="$vo['status'] eq 1"}
                            <li><a href="javascript:;" onclick="changeStatus({$vo['id']},0)">禁用</a></li>
                            {else/}
                            <li><a href="javascript:;" onclick="changeStatus({$vo['id']},1)">恢复</a></li>
                            {/if}
                            <li><a href="javascript:;" onclick="del({$vo['id']})">删除</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>
{$field->render()}
<script>
    function changeStatus(id, handle) {
        if (handle == 0) {
            var t = '禁用';
        } else {
            var t = '恢复';
        }
        swal({
                title: "确定" + t + "ID为" + id + "的用户组吗？",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定" + t + "！",
                closeOnConfirm: false
            },
            function () {
                location.href = "{:url('changeStatus')}" + "?handle=" + handle + "&id=" + id;
            });
    }

    function del(id) {
        swal({
                title: "确定删除ID为" + id + "的用户组吗？",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定删除！",
                closeOnConfirm: false
            },
            function () {
                location.href = "{:url('del')}" + "?id=" + id;
            });
    }
</script>
{/block}